/*
 Copyright IBM Corp. 2023
*/

@use '@carbon/react';
@use '@carbon/react/scss/breakpoint' as *;

.cds--content {
  margin-top: 3rem; // Make up for the space taken by the <Theme> wrapper around the UI Shell (header)
  padding: 0;
  background: var(--cds-background);
}

.cds--content .cds--css-grid {
  max-width: 100%;
  @include breakpoint(md) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
